{% extends "shopapp/base.html" %}
{% load cache %}

{% block title %}
	{{ owner.username }}'s orders
{% endblock %}

{% block body %}
  <h1>User
    <a href="{% url 'myauth:profile' pk=owner.pk %}">
      {{ owner.username }}
    </a>
  </h1>

  <p>First name: {{ owner.first_name }}</p>
  <p>Last name: {{ owner.last_name }}</p>
  <p>E-mail: {{ owner.email }}</p>

  {% if orders %}
    {% cache 100 user_orders owner.id %}
      <h3>User {{ owner.username }} completed the following orders:</h3>
      <div>
        {% for order in orders %}
          <div>
            <p>
                <a href="{% url 'shopapp:order_details' pk=order.pk %}">Detail #{{ order.pk }}</a>
            </p>
            <p>Promo code <code>{{ order.promocode }}</code></p>
            <p>Delivery address: {{ order.delivery_adress }}</p>
            <div>
              <ul>
                  {% for product in order.products.all %}
                      <li>{{ product.name }} for {{ product.price }}$</li>
                  {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endcache %}
  {% else %}
    <h3>User {{ owner.username }} has no orders yet</h3>
  {% endif %}
{% endblock %}